.header-cont {
    height: 100%;
    width: 100%;

}

.features-desc {
    display: flex;
    flex-direction: column;
    padding: 74px 330px 0 350px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #FFFFFF;

}

.features-desc__first-para {
    margin-bottom: 36px;

}
.features-desc__second-para {

}

.key-features {
    padding: 140px 350px 0 350px;
}

.key-features {
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}

.benefits-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 200px;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 93px;
    padding-bottom: 140px;
}

.grid-div {
    height: 336px;
    background: #F2F2F2;
border-radius: 10px;
padding-left: 40px;


}

.title {
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 34px;
color: #387ED1;
/* text-align: center; */
margin: 0;
padding-right: 70px;

}

.id {
    font-family: 'Nunito';
font-weight: 700;
font-size: 80px;
color: #387ED1;
margin: 0;
padding-top: 30px;
}